<!DOCTYPE html>
<html>
	<head>
		<title>Terms of Use</title>
		<link rel="shortcut icon" href="../images/favicon.ico">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <style>
      .container{
        margin: 0 auto;
        width: 100%;
        max-width: 800px;
      }
    </style>
	</head>
  <body>
    <div class="container" name="termly-embed" data-id="233cae8a-970d-4ee5-b90c-0fdd7d438294"></div>
    <script type="text/javascript">
      (function(d, s, id) {
        var js, tjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://app.termly.io/embed-policy.min.js";
        tjs.parentNode.insertBefore(js, tjs);
      }(document, 'script', 'termly-jssdk'));
    </script>
  </body>
</html>